@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <div id="main-content-home" class="xs-no-positioning fixed fixed-middle">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="title">
                            <p class="small-title">وب سایت جدید ما در راه است.</p>
                            <span class="main-title">به زودی می آییم</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row ">
                    <div class="col-12">
                        <div class="d-flex justify-content-center">
                            <script src="https://cdn.logwork.com/widget/countdown.js"></script>
                            <a href="https://logwork.com/countdown-h2ny" class="countdown-timer" data-timezone="Asia/Tehran" data-textcolor="#1bdbd5" data-date="2024-10-15 22:36" data-background="#00a7fe" data-digitscolor="#f0f3f5" data-unitscolor="#e8f7f7">شمارش معکوس</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="subscribe-form">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 text-center">
                            <div class="subscribe-form text-center">
                                <form action="index.html#" class="form-inline mx-auto">
                                    <input type="tel" name="phone" class="form-control btn-rounded" placeholder="لطفا شماره همراه خود را وارد کنید" />
                                    <button type="submit" class="btn btn-primary btn-round">
                                        <span class="btn-text">مشترک شوید</span> <span><i class="btn-icon icofont icofont-paper-plane"></i></span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>